{% extends 'base.html.twig' %}

{% block title %}My Todo lit{% endblock %}

{% block body %}
<style>
    .btn-logout {
        background: red;
        color: white;
        border-radius: 200px;
        padding: 1em;
        text-decoration: none;
        position: absolute;
        bottom: 10%;
        left: 40%;
    }

    .btn-logout:hover {
        background: #101010;
        color: #fff;
    }

</style>


<h1>My todos to do:</h1>

<hr>

<table>
    <thead>
        <tr>
            <th>todo</th>
            <th>Priority</th>
            <th>Date due</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.todo }}</td>
                <td>{{ todo.priority }}</td>
                <td>{{ todo.date ? todo.date|date('Y-m-d') : '' }}</td>
                <td>{{ todo.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="">edit</a>
                    <a href="">delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn-logout" href={{ path('app_logout') }}>Déconnexion</a>
{% endblock %}